POSTGRES_DB=manager_admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=NewPass_123456
POSTGRES_PORT=5432

ADMIN_BACKEND_HOST=0.0.0.0
ADMIN_BACKEND_PORT=8080
ADMIN_DATABASE_URL=postgres://postgres:NewPass_123456@postgres:5432/manager_admin
ADMIN_SESSION_SALT=platform-admin-dev-salt
ADMIN_BOOTSTRAP_SUPER_USERNAME=root
ADMIN_BOOTSTRAP_SUPER_PASSWORD=Secret123!
ADMIN_BOOTSTRAP_SUPER_DISPLAY_NAME=Platform Root

ADMIN_FRONTEND_PORT=4173
ADMIN_API_BASE_URL=http://localhost:8080
